.page {
  background-color: #efd7c6;
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-family: var(--font-geist-sans);
  /* position: absolute; */
}

.bgWrap {
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.bgImg {
  background-image: url(/bg.jpeg);
  /* height: 100vh;
  width: 100vw; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* position: absolute; */
  object-fit: cover;
  opacity: 80%;
  z-index: 0;
  background-blend-mode: hard-light;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.content {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center; 
  z-index: 10;
  position: relative;
}

.logo {
  max-width: 20rem;
  margin-top: 5rem;
  color: solid;
}

.subtitle {
  color: black;
  font-size: 2rem;
  margin: 2rem;
  text-align: center;
}

.iconContainer {
  display: flex;
  width: 15rem;
  justify-content: space-between;
  align-items: center;
}

.icon {
  max-height: 2rem;
  height: 2rem;
  width: auto;
}

.emailIcon {
  max-height: 2.5rem;
  width: auto;
}

@media only screen and (max-width: 450px) {
  .bgImg {
    opacity: 70%;
  }

  .logo {
    max-width: 16rem;
    height: auto;
  }

  .subtitle {
    font-size: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }

  .iconContainer {
    width: 13rem;
  }

  .icon {
    max-height: 2.5rem;
  }

  .emailIcon {
    max-height: 2.8rem;
  }

}











